{% extends 'base.html' %}

{% block content %}
<style>
  .card {
      border-radius: 20px; /* Ajoute un rayon aux coins */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      height: 100px;
  }
  .card.animated {
      opacity: 1;
      transform: translateY(0);
  }
  .card-img-top {
      height: 300px; 
      object-fit: cover; 
  }
</style>
<div class="container p-3">
  <h3 class="text-center mb-4 m-3 p-3">Membres du personnel</h3>
  <div class="row" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500" data-aos-offset="100">
    {% for membre in personnel %}
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card h-100 border shadow-sm">
        <img src="{{ membre.photo.url }}" class="card-img-top" alt="{{ membre.nom }} {{ membre.prenom }}">
        <div class="card-body">
          <h5 class="card-title text-center mb-3">{{ membre.nom }} {{ membre.prenom }}</h5>
          <p class="card-text"><strong>Qualité :</strong> {{ membre.qualite }}</p>
          <p class="card-text">{{ membre.description|truncatewords:30 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
